Source: ontowiki
Section: web
Priority: extra
Maintainer: Sebastian Tramp <tramp@informatik.uni-leipzig.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://ontowiki.net
Vcs-Hg: https://ontowiki.googlecode.com/hg
Vcs-Browser: http://code.google.com/p/ontowiki/source/list

Package: ontowiki-virtuoso
Architecture: all
Depends: ontowiki-common, apache2, php5 | libapache2-mod-php5, php5-odbc, ${misc:Depends}
Recommends: owcli
Description: Semantic Data Wiki enabling the publication of RDF data
 OntoWiki is a tool providing support for agile, distributed knowledge
 engineering scenarios. OntoWiki facilitates the visual presentation of
 a knowledge base as an information map, with different views on instance data.
 .
 It enables intuitive authoring of semantic content. It fosters social
 collaboration aspects by keeping track of changes, allowing to comment and
 discuss every single part of a knowledge base.
 .
 Other remarkable features are:
  * OntoWiki is a Linked Data Server for you data as well as a Linked Data
    client to fetch additional data from the web.
  * OntoWiki is a Semantic Pingback Client in order to receive and send
    back-linking request as known from the blogosphere.
  * OntoWiki is backend independent, which means you can save your data in a
    MySQL database as well as in a Virtuoso Triple Store.
  * OntoWiki is easily extendible by you, since it features a sophisticated
    Extension System.
 .
 This package will install a virtuoso-backended OntoWiki instance.
 .
 OntoWiki is part of the LOD2 Technology Stack.

Package: ontowiki-mysql
Architecture: all
Depends: ontowiki-common, mysql-server, apache2, php5 | libapache2-mod-php5, php5-mysql | php5-mysqli, ${misc:Depends}
Recommends: owcli
Description: Semantic Data Wiki enabling the publication of RDF data
 OntoWiki is a tool providing support for agile, distributed knowledge
 engineering scenarios. OntoWiki facilitates the visual presentation of
 a knowledge base as an information map, with different views on instance data.
 .
 It enables intuitive authoring of semantic content. It fosters social
 collaboration aspects by keeping track of changes, allowing to comment and
 discuss every single part of a knowledge base.
 .
 Other remarkable features are:
  * OntoWiki is a Linked Data Server for you data as well as a Linked Data
    client to fetch additional data from the web.
  * OntoWiki is a Semantic Pingback Client in order to receive and send
    back-linking request as known from the blogosphere.
  * OntoWiki is backend independent, which means you can save your data in a
    MySQL database as well as in a Virtuoso Triple Store.
  * OntoWiki is easily extendible by you, since it features a sophisticated
    Extension System.
 .
 This package will install a mysql-backended OntoWiki instance.
 .
 OntoWiki is part of the LOD2 Technology Stack.

Package: ontowiki-common
Architecture: all
Depends: libzend-framework-php, libmarkdown-php, libjs-jquery (>= 1.4.2), ${misc:Depends}
Recommends: owcli
Description: Application sources for all ontowiki packages
 OntoWiki is a tool providing support for agile, distributed knowledge
 engineering scenarios. OntoWiki facilitates the visual presentation of
 a knowledge base as an information map, with different views on instance data.
 .
 This is the common data package of OntoWiki and part of the LOD2 Technology
 Stack.

