# OntoWiki configs
/config.ini
/extensions/*.ini
/local.ini

# OntoWiki muck
*.log
/cache
/uploads
/libraries/Zend
/logs

# aksw specific mud
/BlogPost
/extensions/dssn/libraries/lib-dssn-php

# ide and editor dirt
.settings
.project
.idea
.buildpath
.DS_Store
nbproject
*~
*.swp
cache.properties

# test stuff
application/tests/config.ini

# build stuff
build/
!build/phpcs.xml
!build/phpcmd.xml

# vagrant stuff
Vagrantfile
.vagrant
