[submodule "libraries/RDFauthor"]
	path = libraries/RDFauthor
	url = git://github.com/AKSW/RDFauthor.git
[submodule "libraries/Erfurt"]
	path = libraries/Erfurt
	url = git://github.com/AKSW/Erfurt.git
[submodule "extensions/historyproxy"]
	path = extensions/historyproxy
	url = git@github.com:nucknorris/historyproxy.git
[submodule "extensions/template"]
	path = extensions/template
	url = git@github.com:AKSW/template.ontowiki.git
