# OntoWiki configs
/config.ini
/extensions/*.ini
/local.ini

# OntoWiki muck
*.log
application/tests/cache
/cache
/uploads
/libraries
/logs

# aksw specific mud
/BlogPost
/extensions/dssn/libraries/lib-dssn-php

# ide and editor dirt
.settings
.project
.idea
.buildpath
.DS_Store
nbproject
*~
*.swp
cache.properties

# test stuff
application/tests/config.ini

# build stuff
build/
!build/phpcs.xml
!build/phpcmd.xml

# vagrant stuff
Vagrantfile
.vagrant

# composer stuff
/vendor
composer.phar
# for now we ignore the composer.lock, but we should commit it some dome day, especially for releases
# see also: https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
composer.lock
