# OntoWiki configs
/config.ini
/local.ini

# OntoWiki muck
*.log
application/tests/cache
/cache
/uploads
/libraries
/logs

# Extensions
/extensions/*.ini
/extensions/*
!/extensions/account
!/extensions/application
!/extensions/auth
!/extensions/autologin
!/extensions/basicimporter
!/extensions/bookmarklet
!/extensions/ckan
!/extensions/community
!/extensions/cors
!/extensions/datagathering
!/extensions/defaultmodel
!/extensions/exconf
!/extensions/filter
!/extensions/googletracking
!/extensions/hideproperties
!/extensions/history
!/extensions/imagelink
!/extensions/imprint
!/extensions/jsonrpc
!/extensions/linkeddataserver
!/extensions/listmodules
!/extensions/literaltypes
!/extensions/mail
!/extensions/mailtolink
!/extensions/manchester
!/extensions/markdown
!/extensions/modellist
!/extensions/navigation
!/extensions/pingback
!/extensions/queries
!/extensions/resourcecreationuri
!/extensions/resourcemodules
!/extensions/savedqueries
!/extensions/selectlanguage
!/extensions/semanticsitemap
!/extensions/sendmail
!/extensions/sindice
!/extensions/sortproperties
!/extensions/source
!/extensions/themes
!/extensions/translations
!/extensions/weblink

# aksw specific mud
/BlogPost
/extensions/dssn/libraries/lib-dssn-php

# ide and editor dirt
.settings
.project
.idea
.buildpath
.DS_Store
nbproject
*~
*.swp
cache.properties

# test stuff
application/tests/config.ini

# build stuff
build/
!build/phpcs.xml
!build/phpcmd.xml

# composer stuff
/vendor
composer.phar
# for now we ignore the composer.lock, but we should commit it some dome day, especially for releases

# devenv stuff
/devenv
