<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<handlers>
			<add name="deny ini" verb="*" path="*.ini" type="System.Web.HttpForbiddenHandler" />
		</handlers>
        <rewrite>
            <rules>
                <rule name="Don't rewrite physical files" stopProcessing="true">
                    <match url="((extensions|libraries).*|\.(js|ico|gif|jpg|png|css|php|swf|json))$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
				<rule name="Redirect favicon" stopProcessing="true">
					<match url="^favicon\.(.*)$" />
					<action type="Redirect" url="application/favicon.{R:1}" />
				</rule>
                <rule name="Rewrite" stopProcessing="true">
                    <match url="^.*$" />
					<serverVariables>
						<set name="ONTOWIKI_APACHE_MOD_REWRITE_ENABLED" value="true" />
					</serverVariables>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>