/**
 * default.css
 * Ontowiki main style sheet, advanced theme
 * @author: Michael Haschke
 * @version: $Id: default.css 3920 2009-08-04 21:35:42Z norman.heino $
 */


/* -- 1.2. Windows ---------------------------------------------------------- */

div.window * {
    font-family: sans-serif;
}

div.window {
    font-size: 1em;
    font-weight: 500;
    color: #333;
    background-color: #f3f3f3;
    margin: 1em 0.5em;
    position: relative;
    border: solid 1px #666;
    width: auto;
/*    overflow: hidden;*/ /* this is now set on the window content instead */
}

div.window .title {
    font-size: 1em;
    font-weight: 900;
    color: #fff;
    border-bottom: solid 1px #666;
    padding: 0.3em 0.5em 0.2em 0.5em !important;
    margin: 0 !important;
    line-height: 1;
    background: url(../images/layout-windowtitle-gradient.png) repeat-x center #999;
}

div.window .title a {
    color: #fff;
    text-decoration: underline;
}

div.window .title a:focus, div.window .title a:hover {
    color: #07f;
}

/* ------ 1.2.1. Drop down menu --------------------------------------------- */

/* see clickmenu.css */

/* ------ 1.2.2. Context Menu ----------------------------------------------- */

div.window .contextmenu {
    background-color: transparent;
    border-top: solid 1px #000;
}

.contextmenu {
    background-color: #efefef;
    padding: 1px;
}

.contextmenu ul, .contextmenu ol {
    list-style: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.contextmenu > ul, .contextmenu > ol {
    margin-left: 0;
}

.contextmenu ul a, .contextmenu ol a, .contextmenu ul span, .contextmenu ol span {
    border: solid 1px transparent;
    display: block;
    color: #000;
    padding: 0 0.5em;
}

.contextmenu ul a:hover, .contextmenu ol a:hover, .contextmenu ul span:hover, .contextmenu ol span:hover {
    border-color: #cdd7dd;
    background: url(./../images/layout-button-menu-hover-gradient.png) repeat-x bottom center #eff9ff;
}

hr.menusep, .contextmenu hr {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #fff;
    border-left-style: none;
    border-right-style: none;
    margin: 0.25em 0.5em
}

/* ------ 1.2.3. Window Tabs ------------------------------------------------ */

div.window .tabs {
    margin-top: 0.5em;
    list-style: none;
    margin-left: 0;
    padding: 0 0.5em;
}

div.window .tabs li {
    float: left;
    white-space: nowrap;
}

div.window .tabs li a {
    display: block;
    position: relative;
    top: 0.1em;
    border-color: #999;
    border-bottom-color: #666;
    border-width: 1px 1px 0.1em 1px;
    border-style: solid;
    border-left-style: none;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #333;
    background: url(./../images/layout-tab-gradient.png) repeat-x bottom center #dfdfdf;
}

div.window .tabs li:first-child a {
    border-left-style: solid;
}

div.window .tabs li a:focus, div.window .tabs li a:hover {
    background-color: #eff9ff;
/*    text-decoration: underline;*/
}

div.window .tabs li.active a {
    border-color: #666;
    border-bottom: none;
    padding-bottom: 0.6em;
    background: url(./../images/layout-tabactive-gradient.png) repeat-x top center #f2f2f2;
    z-index: 1;
    font-color: #333;
    font-weight: bold;
}

/* ------ 1.2.4. Window Content --------------------------------------------- */

div.window .slidehelper {
    overflow: hidden;
}

div.window .content {
    padding: 0.25em 0.5em;
    width: auto;
    border: solid 1px transparent;
    border-top-style: none;
    overflow: auto;
    color: #333;
    clear: both;
    background: url(../images/layout-window-gradient.png) repeat-x top center #fff;
}

div.tabbed > .slidehelper > .content {
    border-top: solid 1px #666;
}

body.javascript-off div.window div.window-buttons {
    display: none;
}

div.window span.resizer-vertical {
    display: none;
}

/* -- 1.3. Generic layout helper -------------------------------------------- */

.width25 { width: 25%; }

.width33 { width: 33.3%; }

.width50 { width: 50%; }

.width67 { width: 66.6%; }

.width75 { width: 75%; }

.width90 { width: 90% !important; }

.width95 { width: 95% !important; }

.width98 { width: 98% !important; }

.width99 { width: 99% !important; }

.width-auto { width: auto !important; }

.width25.float-left  { width: 24%; padding-right: 1%; }

.width25.float-right { width: 24%; padding-left: 1%; }

.width33.float-left  { width: 32.3%; padding-right: 1%; }

.width33.float-right { width: 32.3%; padding-left: 1%; }

.width50.float-left  { width: 49%; padding-right: 1%; }

.width50.float-right { width: 49%; padding-left: 1%; }

.width67.float-left  { width: 66.6%; padding-right: 1%; }

.width67.float-right { width: 65.6%; padding-left: 1%; }

.width75.float-left  { width: 74%; padding-right: 1%; }

.width75.float-right { width: 74%; padding-left: 1%; }

.float-left { float: left; clear: none !important; overflow: hidden;}

.float-right { float: right; clear: none !important; overflow: hidden; }

/* 3. Forms ----------------------------------------------------------------- */

form {
    font-size: 1em;
}

/* -- 3.1. Buttons ---------------------------------------------------------- */

/*
   Created by Kevin Hale [particletree.com]
   * particletree.com/features/rediscovering-the-button-element
*/

/* Button standard */
a.formbutton, button, input.formbutton,
div.window .content a.button, div.window .content input.button, /* !!DEPRECATED!! only for back compatibility in 0.8 */
input.button,
input.submit,
input.reset,
ul.minibutton li a,
li.minibutton a,
a.minibutton {

/*  display: block;*/
  float: left;
  
  margin: 0 0.6em 0.7em 0;
  padding: 0.35em 0.7em 0.3em 0.7em;   /* Links */
  
  border-style: double;
  border-width: 3px;
  border-right-color: #999;
  border-bottom-color: #999;
  border-left-color: #ccc;
  border-top-color: #ccc;

  background: url(./../images/layout-button-menu-gradient.png) repeat-x top center #eee;
  color: #333;

  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.3;
  text-decoration: none;
  font-weight: normal;

  cursor: pointer;
}

button {
  width: auto;
  overflow: visible;
}

button,
input.formbutton,
input.button,
input.submit,
input.reset {

  padding: 0.3em 0.5em 0.3em 0.5em;   /* Firefox */
  /* line-height: 1.7; */          /* Safari */
}


/* Minibuttons */
ul.minibutton li a,
li.minibutton a,
a.minibutton {

    border-style: solid;
    border-width: 1px;
    margin: 0 0.15em;
    padding: 0.15em 0.5em;   /* Links */
    font-size: 0.85em;
}

/* Button mouse over */
a.formbutton:hover, a.formbutton:focus, button:hover, input.formbutton:hover,
div.window .content a.button:hover, div.window .content a.button:focus, /* !!DEPRECATED!! only for back compatibility in 0.8 */
input.button:hover,
input.submit:hover,
input.reset:hover,
ul.minibutton li a:hover,
li.minibutton a:hover,
a.minibutton {

    border-right-color: #9aa6aa;
    border-bottom-color: #9aa6aa;
    border-left-color: #cdd7dd;
    border-top-color: #cdd7dd;
    color: #333;
    background: url(./../images/layout-button-menu-hover-gradient.png) repeat-x bottom center #eff9ff;
}

/* Button mouse over */
a.formbutton:hover.selected, a.formbutton:focus.selected, button:hover.selected, input.formbutton:hover.selected,
div.window .content a.button:hover.selected, div.window .content a.button:focus.selected, /* !!DEPRECATED!! only for back compatibility in 0.8 */
input.button:hover.selected,
input.submit:hover.selected,
input.reset:hover.selected,
ul.minibutton li a:hover.selected,
li.minibutton a:hover.selected,
a.minibutton {

    border-right-color: #9aa6aa;
    border-bottom-color: #9aa6aa;
    border-left-color: #cdd7dd;
    border-top-color: #cdd7dd;
    color: #333;
    cursor: default;
    background: url(./../images/layout-button-menu-gradient.png) repeat-x top center #eee;
}

/* Button focused */
a.active, 
a.formbutton:active, button:focus, input.formbutton:focus,
div.window .content a.button:active, /* !!DEPRECATED!! only for back compatibility in 0.8 */
input.button:focus,
input.submit:focus,
input.reset:focus,
ul.minibutton li a:focus,
li.minibutton a:focus,
a.minibutton:focus {

    border-right-color: #cdd7dd !important;
    border-bottom-color: #cdd7dd !important;
    border-left-color: #9aa6aa !important;
    border-top-color: #9aa6aa !important;
    color: #333;
    background: url(./../images/layout-button-menu-hover-gradient.png) repeat-x bottom center #eff9ff;
}

/* Button disabled */
a.formbutton.disabled, button.disabled, input.formbutton.disabled,
input.button.disabled,
input.submit.disabled,
input.reset.disabled,
ul.minibutton li a.disabled,
li.minibutton a.disabled,
a.minibutton.disabled,
 
a.formbutton.disabled:active, button.disabled:focus, input.formbutton.disabled:focus,
input.button.disabled:hover,
input.submit.disabled:hover,
input.reset.disabled:hover,
ul.minibutton li a.disabled:hover,
li.minibutton a.disabled:hover,
a.minibutton.disabled:focus {

	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	opacity: 0.5;
	cursor: default;
/*  background: url(./../images/layout-button-menu-gradient.png) repeat-x top center #eee;*/
}

div.window .content a.button img,
button img, a.formbutton img {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 1em;
  max-height: 1.2em;
  line-height: 1;
  vertical-align: bottom;
}

.separator {
	width: 0.4em;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;
}

/* Positive */

/* Negative */


/* -- 3.2. Input fields ----------------------------------------------------- */

input.text,
input.password,
input.checkbox,
input.radio,
textarea {

    display: inline-block;
    border-left-color: #888;
    border-top-color: #888;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    vertical-align: baseline;
    line-height: 1;
    padding: 2px;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #333;
    background: url(./../images/layout-button-menu-hover-gradient.png) repeat-x bottom center #f6f6f6;
}

table.edittable input.text,
table.edittable textarea {
    font-size: 1em;
    margin-bottom: 0.5em;
    vertical-align: text-top;
    min-width: inherit;
    min-height: inherit;
}

.no-min-width input,
.no-min-width select {
    min-width: inherit;
}

.no-max-width input,
.no-max-width select {
    max-width: inherit;
}

input.text, input.password {

    min-width: 10em;
}

input.checkbox, input.radio {

    width: 0.9em !important;
    height: 0.9em !important;
    min-width: auto;
    vertical-align: middle;
    color: #07c;
    padding: 0;
    font-weight: bold;
    background: transparent;
    border-style: none;
}

textarea {
    min-width: 30em;
    min-height: 18.5em;
    padding: 0;
    line-height: 1.5;
    font-size: 1em;
}

input:hover, textarea:hover {
    background-color: #eff9ff;
    color: #000;
}

input:focus, textarea:focus, select:focus, select:hover {
    background: #fff;
    color: #000;
}

textarea.code-input {
	font-family: monospace;
	background: none;
	min-height: 15em;
	font-size: 1.1em;
}

/* -- 3.3. Selects ---------------------------------------------------------- */

select {
    min-width: 20em;
    font-size: 1em;
    max-width: 20em;
    background: #f9f9f9;
    color: #000;
    display: inline-block;
    border-left-color: #888;
    border-top-color: #888;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.5em;
    vertical-align: middle;
}

select.multiselect, select[multiple="multiple"], select.multiple {
    vertical-align: text-top;
    max-height: 32em;
}

table.edittable select {
    min-width: inherit;
}

select optgroup {
    color: #000;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

select:hover optgroup, select:focus optgroup {
    color: #07c;
}

select option {
    color: #000;
    padding: 0;
    border: none; 
}

select.bigsize optgroup {
    margin-bottom: 0.25em;
}

select.bigsize option {
    padding: 0.1em 1em;
    border: solid 1px transparent; 
}

select option:hover {
    border-color: #cdd7dd;
    background: url(./../images/layout-button-menu-hover-gradient.png) repeat-x bottom center #eff9ff;
}

select option:focus, select option[selected]:focus {
    border-color: #07c;
    background: url(./../images/layout-button-menu-hover-gradient.png) repeat-x bottom center #07f;
}


/* -- 3.4. Grouping form elements ------------------------------------------- */

legend {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

fieldset {
    border-style: none;
    border-width: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    clear: both;
    float: none;
}

fieldset fieldset {
    border-top-style: solid;
    border-color: #999;
    border-width: 1px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-top: .5em;
}

fieldset fieldset fieldset {
    border-style: dotted;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
    padding-left: 0.75em;
}

div.row-input, form.row-input div {
    padding: 0.25em 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    overflow: hidden;
}

div.simple-input, form.simple-input div {
    padding: 0.25em 0;
    overflow: hidden;
}

div.row-input:hover,
form.row-input div:hover,
tr.row-input:hover td,
table.edittable tr:hover td {

    border-color: #ddd;
    background-color: #f0f0f0;
    border-style: solid;
}

div.row-input:focus, div.row-input:active,
form.row-input div:focus, form.row-input div:active,
tr.row-input:focus td, tr.row-input:active td,
table.edittable tr:focus td, table.edittable tr:active td {

    border-color: #cdd7dd;
    background-color: #eff9ff;
}

div.input-justify-left,
form.input-justify-left div {
    clear: both;
}

div.input-justify-left label, div.input-justify-left textarea, div.input-justify-left select, div.input-justify-left input,
form.input-justify-left div label, form.input-justify-left div textarea, form.input-justify-left div select, form.input-justify-left div input {

    display: block;
    float: left;    
    margin-right: 2%;
}

.width50 div.input-justify-left label, .width50 div.input-justify-left select,
form.input-justify-left div.width50 label, form.input-justify-left div.width50 select {

    margin-right: 4%;
}

div.input-justify-left label,
form.input-justify-left div label {
    width: 25%;
    text-align: right;
    padding-top: 0.3em;
    overflow: hidden;
}

.width50 div.input-justify-left label,
form.input-justify-left div.width50 label {
    width: 35%;
}

div.input-justify-left label.checkboxradio,
form.input-justify-left div label.checkboxradio {
    margin-left: 27%;
    width: 75%;
    margin-right: 0;
    text-align: left;
}

.width50 div.input-justify-left label.checkboxradio,
form.input-justify-left div.width50 label.checkboxradio {
    width: 55%;
}

div.input-justify-left input.checkbox,
form.input-justify-left div input.checkbox,
div.input-justify-left input.radio,
form.input-justify-left div input.radio {
    margin-top: 0.2em;
    margin-right: 0.5em;
}

.width50 div.input-justify-left input.checkbox,
form.input-justify-left div.width50 input.checkbox,
.width50 div.input-justify-left input.radio,
form.input-justify-left div.width50 input.radio {
    margin-left: 39%;
}

div.input-justify-left input,
form.input-justify-left div input {
    width: 40%;
}

div.input-justify-left select,
form.input-justify-left div select {
    margin-top: 0.2em;
}

.width50 div.input-justify-left input, .width50 div.input-justify-left select,
form.input-justify-left div.width50 input, form.input-justify-left div.width50 select {
    width: 55%;
}

div.input-justify-left textarea,
form.input-justify-left div textarea {
    width: 60%;
}

div.input-justify-left .messagebox,
form.input-justify-left div .messagebox {
    margin-left: 27%;
    margin-right: 13%;
}

.width50 div.input-justify-left .messagebox,
form.input-justify-left div.width50 .messagebox {
    margin-left: 39%;
    margin-right: 1%;
}

div.actionbuttons {
    padding: 1em 0 1em 27% !important;
    border: none !important;
    background-color: transparent !important;
    overflow: inherit !important;
}

.width50 div.actionbuttons {
    padding-left: 39% !important;
}

div.actionbuttons * {
    float: none !important;
}

/*.toolbar .button {
    text-align: center;
    border-width: 1px !important;
}

.toolbar .button img {
    display: block;
    margin: 0 auto !important;
}

.toolbar .button span {
    font-size: 0.9em !important;
}*/

/* -- 4.5. Processing ------------------------------------------------------- */

.is-processing * {
    visibility: hidden !important;
    cursor: wait !important; 
}

.is-processing > .title,
.is-processing > .tabs {

    visibility: visible !important;
}

.is-processing {
    background-image: url(./../images/spinner.gif) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    cursor: wait !important;
    min-height: 50px;
}

input.is-processing {
    background-image: url(./../images/spinner.gif) !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    cursor: wait !important;
    min-height: 0;
}

/* -- 4.6 Editing ----------------------------------------------------------- */
.edit {
    display: none;
}

/* 5. Etcetera -------------------------------------------------------------- */

.hide {display: none !important;}

.onlyAural {position: absolute !important; left: -5000em !important;}

.clearall {
    float: none;
    clear: both;
    border-style: none !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 0.1%;
    line-height: 0.1;
    overflow: inherit !important;
}

.clearfloat {
    float: none;
    clear: both;
}

