/**
  * default.dev.css
  * Ontowiki developer/experimental style sheet, advanced theme
  *
  * ATTENTION, since this file contains of development styles, it only included in
  * debug mode. See more infos on CSS Development on
  * http://code.google.com/p/ontowiki/wiki/CSSDevelopment
  *
  */

/* form stuff ****************************************************************/

.input-text[readonly="readonly"] {
	color: #999 !important;
}

input.uri-input {
	width: 30em;
	font-size: 90%;
	padding: 0.15em;
}

/* 
fieldset {
	padding: 0.8em;
	border: 1px dotted #999;
	margin: 1em 0;
}
*/

label.input-label-left {
	float: left;
	width: 12em;
}

label.radio-label {
	margin-left: 1.6em;
}

input.checkbox, input.radio {
	vertical-align: text-top !important;
	margin-right: 0.3em !important;
}

/* message channel ***********************************************************/

/*
.window .message {
	margin: 0.5% 10%;
	border: 1px solid #999;
	background-color: #ddd;
	padding: 1%;
}

.window .message.success { Doppelklassen funzen nicht richtig im IE
	border-color: #0f0;
	background-color: #cfc;
}

.window .message.error {
	border-color: #f00;
	background-color: #fcc;
}
*/

/* status bar ****************************************************************/

/*
.window .status-bar {
	padding: 0.2em 0.5em;
	border-top: 1px solid #ddd;
	background-color: #f8f8f8;
}

.window .status-bar a {
	color: #07c;
    text-decoration: none;
	padding: 0.15em 0.2em;
}

.window .status-bar a:focus, .window .status-bar a:hover {
	color: #07f;
	text-decoration: underline;
}

.window .status-bar-content {
	padding: 0 1em;
	border-left: 1px solid #ddd;
}

.window .status-bar-content:first-child {
	border-left: 0;
	padding-left: 0;
}
*/

/* tables ********************************************************************/

/*table.non-editable, table.editable {
	width: 100%;
}

table caption {
	color: #999;
	margin-bottom: 0.5em;
}*/

/*
table th {
	padding: 0.2em 0.5em;
	border-top: solid 1px #ddd;
	text-align: left;
	background-color: #eee;
}
*/

/*table.non-editable td {
	padding: 0.3em 0.5em;
	border-top: 1px dotted #ddd;
}

table.non-editable tr:first-child td, table.editable tr:first-child td {
	border-top: none;
}

table.non-editable td:first-child, table.editable td:first-child {
	text-align: right;
}

table td.enumeration, table td.enumeration {
	width: 4em;
	text-align: right;
}

table.editable td {
	cursor: text;
	padding: 0.5em 0.5em;
	border-top: 1px dotted #ddd;
}

table.editable tr:hover {
	background-color: #f6f6f6;
}

table.editable tr:focus, table.editable tr:active {
    background-color: #eff9ff;
}*/

/* lists *******************************************************************/

/* Die Spearatoren müssen unbedingt rechts vom Element sein --
   Spearatoren am Anfang einer Zeile gehen gar nicht.
   Lieder ist dann :first-child nicht mehr brauchbar und die Klasse
   .last-child wird nötig. */


ul.inline,
ol.inline {
	text-align: justify;
	display: inline;
	float: left;
}

ul.inline > li,
ol.inline > li {
	display: inline;
	padding-right: 0.2em;
}

.highlighted {
	background-color: #f70;
	padding: 0 0.2em;
}

/* type **********************************************************************/

.light {
	color: #999;
}


.width100 { 
	width:100% !important;
}

.inline-edit {
	display: none;
}

/*ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: outside;
}*/

/* -------------------- Hierarchy ------------------------------ */
a.tree-closed {
	float: left;
	background-image: url(./../images/tree_closed.png);
	width: 9px;
	height: 9px;
	margin: .4em .3em 0 0;
}

a.tree-closed:hover {
	background-image: url(./../images/tree_closed_hover.png);
}

a.tree-open {
	float: left;
	background-image: url(./../images/tree_open.png);
	width: 9px;
	height: 9px;
	margin: .4em .3em 0 0;
}

a.tree-open:hover {
	background-image: url(./../images/tree_open_hover.png);
}

span.tree-none {
	float: left;
	width: 9px;
	height: 9px;
	margin: .4em .3em 0 0;
}

.tree-is-processing {
    background-image:url(./../images/spinner.gif) !important;
    background-position: left center; !important;
    background-repeat:no-repeat !important;
    cursor:wait !important;
	height: 25px;
	width: 100%;
}

/* dev phil: to be sorted or deleted in the future ************************/

.openid {
	background-image: url(./../images/openid.gif);
	background-repeat: no-repeat;
	background-position: 0 4px;
}

span.openid {
	padding-left: 20px;
	padding-top: 1px;
	background-position: 0 0;
}


div.openid_logo {
	width: 250px;
	height: 100px;
	margin: 0 0 0 10px;
	background-image: url(./../images/openid-logo-wordmark.png);
	background-repeat: no-repeat;
}

/*
.search {
	float: left;
	width: 18px;
	height: 19px;
	background: url(./../images/icon-search.png) no-repeat;
	background-position: 0 3px;
}*/



.success_icon {
	float: left;
	width: 18px;
	height: 18px;
	background: url(./../images/icon-success.png) no-repeat;
	background-position: 0 3px;
}

.nothing_icon {
	float: left;
	width: 18px;
	height: 18px;
	background: url(./../images/icon-failure.png) no-repeat;
	background-position: 0 3px;
}

a.closed {
    float: left;
    width: 8px;
    height: 1.5em;
    background-image: url(./../images/tree-toggle.png);
    background-position: 0px 50%;
    background-repeat: no-repeat;
    margin-left: 0 !important;
}

a.closed:hover {
    background-position: -10px 50%;
}

.object-30em {
    max-width: 30em;
    overflow: hidden;
    margin: 0 auto 10px auto;
    display: block;
}

a.Tag {
    border: 1px solid #ccc;
    background-color: #eee;
    
    padding: .1em 1.1em .1em .4em;
    
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    
    -moz-border-radius-topright: 1em;
    -webkit-border-top-right-radius: 1em;
    
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
    
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-right-radius: 1em;
}

a.Tag:hover {
    background: url(./../images/icon-clear.png) 98% 50% no-repeat #eee;
}

ul.horizontal > li,
ol.horizontal > li {
    display: inline;
    padding: 0;
    margin: 0em;
}
