/* 
    Document   : fancystyle
    Created on : 12.07.2010, 17:23:55
    Author     : jonas brekle
    Description:
        Purpose of the stylesheet follows.
*/
body     {
    background: url("./layout-background-stripes.png") repeat !important;
}
#application .cmDiv{
}
div.window .title {
    -moz-border-radius-topleft: 10px !important;
    -webkit-border-radius-topleft: 10px !important;
    -khtml-border-radius-topleft: 10px !important;
    border-radius-topleft: 10px !important;
    -moz-border-radius-topright: 10px !important;
    -webkit-border-radius-topright: 10px !important;
    -khtml-border-radius-topright: 10px !important;
    border-radius-topright: 10px !important;
}
div.window .content {
    -moz-border-radius-bottomleft: 10px !important;
    -webkit-border-radius-bottomleft: 10px !important;
    -khtml-border-radius-bottomleft: 10px !important;
    border-radius-bottomleft: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    -webkit-border-radius-bottomright: 10px !important;
    -khtml-border-radius-bottomright: 10px !important;
    border-radius-bottomright: 10px !important;
    -moz-box-shadow: 5px 5px 7px #888 !important;
}
div.window .statusbar {
    -moz-border-radius-bottomleft: 10px !important;
    -webkit-border-radius-bottomleft: 10px !important;
    -khtml-border-radius-bottomleft: 10px !important;
    border-radius-bottomleft: 10px !important;
    -moz-border-radius-bottomright: 10px !important;
    -webkit-border-radius-bottomright: 10px !important;
    -khtml-border-radius-bottomright: 10px !important;
    border-radius-bottomright: 10px !important;
}
div.window {
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    -moz-box-shadow: 5px 5px 7px #888 !important;
}
.contextmenu {
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
}
.minibutton {
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
}
.button {
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
}
input {
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    padding-left: 6px !important;
}
.tabs li a{
    -moz-border-radius-topleft: 10px !important;
    -webkit-border-radius-topleft: 10px !important;
    -khtml-border-radius-topleft: 10px !important;
    border-radius-topleft: 10px !important;
    -moz-border-radius-topright: 10px !important;
    -webkit-border-radius-topright: 10px !important;
    -khtml-border-radius-topright: 10px !important;
    border-radius-topright: 10px !important;
}
