<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../Bootstrap.php" colors="false" backupGlobals="false" backupStaticAttributes="false" strict="true" verbose="true">
    <testsuite name="OntoWiki Integration Test Suite">
        <directory suffix="IntegrationTest.php">.</directory>
    </testsuite> 
        
    <logging>
        <log type="coverage-clover" target="../../../build/logs/clover-integration.xml"/>
        <log type="coverage-html" target="../../../build/coverage-integration" title="Erfurt Integration Tests"/>
        <log type="junit" target="../../../build/logs/junit-integration.xml"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"> 
            <directory suffix=".php">../../../application</directory>

            <exclude>
                <directory>../../../application/scripts</directory>
                <directory>../../../application/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
