/* 
    Document   : togglebutton
    Created on : 21.08.205, 21:39:53
    Author     : jonas
    Description:
        style for the jquery.togglebutton plugin
*/

.togglebutton {
    border: grey solid 1px;
/*    background: url('http://localhost/ow/extensions/components/exconf/resources/bg.png');*/
background: red green;
    width: 50px;
    min-height: 20px;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -khtml-border-radius: 5px !important;
    border-radius: 5px !important;
}
.togglebutton .slider{
    border: #333333
        double;
    background-color: darkgrey;
    width: 20px;
    height: 14px;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -khtml-border-radius: 5px !important;
    border-radius: 5px !important;
}

