/**
  * rdfauthor.css
  * static RDFAuthor stylesheets, independent from OntoWiki default.css
  * @author: Norman Heino
  * @author: Michael Haschke
  * @version: $Id:$
  */

/* -- Layout stuff ---------------------------------------------------------- */
/* -- copies style of relevant classes from OntoWiki's default.css ---------- */
/* -- straight to #rdfAuthorContainer --------------------------------------- */

div.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    background-color:rgba(0,0,0,0.2);
    z-index: 10000;
}

#rdfAuthorContainer
{

    /* taken from div.window */
    font-size: 12px;
    font-weight: 500;
    color: #333;
    background-color: #ddd;
    margin: 1em 0.5em;
    position: relative;
    border: solid 1px #666;
    width: auto;

    /* taken from div.versatile */
    position:absolute;
    width:48em;
    z-index:1000;

    /* shadow */
    -moz-box-shadow:0 0 1em rgba(0,0,0,0.5);
    -webkit-box-shadow:0 0 1em rgba(0,0,0,0.5);

    /* div.versatile.centered */
    top:25%;
    left:50%;
}

#rdfAuthorContainer legend {
    color: #000;
    padding-left: 0;
    margin-left: 0;
    padding-right: 1em;
    font-weight: normal;
}

#rdfAuthorContainer fieldset legend {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#rdfAuthorContainer fieldset fieldset legend {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#rdfAuthorContainer legend {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#rdfAuthorContainer .title /* taken from div.window .title */
{
    font-size: 1em;
    font-weight: 900;
    color: #fff;
    text-shadow: -1px -1px 1px #000;
    border-bottom: solid 1px #666;
    padding: 0.3em 0.5em 0.2em 0.5em !important;
    margin: 0 !important;
    line-height: 1;
    background:#999;
}

#rdfAuthorContainer fieldset {
    border-style: none;
    border-width: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    clear: both;
    float: none;
}

#rdfAuthorContainer fieldset fieldset {
    border-top-style: solid;
    border-color: #999;
    border-width: 1px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-top: .5em;
}

#rdfAuthorContainer input.text,
#rdfAuthorContainer textarea {

    display: inline-block;
    border-left-color: #888;
    border-top-color: #888;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    vertical-align: baseline;
    line-height: 1;
    padding: 2px;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #333;
    background:#fff;
}

#rdfAuthorContainer textarea {
    min-width: 30em;
    min-height: 18.5em;
    padding: 0;
    line-height: 1.5;
    font-size: 1em;
}

#rdfAuthorContainer select {
    min-width: 20em;
    font-size: 1em;
    max-width: 20em;
    background: #f9f9f9;
    color: #000;
    display: inline-block;
    border-left-color: #888;
    border-top-color: #888;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0.5em;
    vertical-align: middle;
}

#rdfAuthorContainer button
{
  display:inline-block;
  margin: 0 0.35em 0.7em 0;
  padding: 0.35em 0.7em 0.3em 0.7em;   /* Links */
  border-style: double;
  border-width: 3px;
  border-right-color: #999;
  border-bottom-color: #999;
  border-left-color: #ccc;
  border-top-color: #ccc;
  background:#eee;
  color: #333;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.3;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;

  width: auto;
  overflow: visible;

  padding: 0.3em 0.5em 0.3em 0.5em;   /* Firefox */
}




/* -- RDFAuthor unique stuff ------------------------------------------------ */

#rdfAuthorContainer
{
    /*z-index: 10000 !important; 
    position: absolute;
    background-color: #eee;
    width: 48em;*/
}

#rdfAuthorButtons {
    clear: left;
    float: right;
    padding: 0.5em 0.5em;
    position: relative;
    margin-top: 1em;
    bottom: 0;
    right: 0;
}

#rdfAuthorButtons * {
    font-size: 1em;
}

#rdfAuthorContainer .rdfAuthorPropertyRows {
    padding: 0;
    max-height: 30em;
    overflow-x: hidden;
    overflow-y: auto;
    background:#fff;
}

#rdfAuthorContainer *, .rdfAuthorInline * {min-width: 0 !important; min-height: 0 !important;}

#rdfAuthorContainer fieldset {
    border: 1px dotted grey;
    border-left: none;
    border-right: none;
    background-color: rgb(246, 246, 246);
    margin: 0;
    padding-top: 0.25em !important;
    padding-bottom: 0.5em !important;
}

#rdfAuthorContainer .property-row, #rdfAuthorContainer .container, #rdfAuthorContainer .inline-container, 
.rdfAuthorInline .container, .rdfAuthorInline .inline-container {
/*    border: 1px dotted red;*/
    padding: 0.3em 0.5em;
}

#rdfAuthorContainer input, #rdfAuthorContainer textarea, 
.rdfAuthorInline    input, .rdfAuthorInline textarea {
    font-size: 1.1em;
}

#rdfAuthorContainer .util, .rdfAuthorInline .util {
    font-size: 0.85em;
    display: block;
}

#rdfAuthorContainer .literal-lang select, #rdfAuthorContainer .literal-datatype select, 
.rdfAuthorInline    .literal-lang select, .rdfAuthorInline    .literal-datatype select {
    margin-left: 0.5em;
}

#rdfAuthorContainer .container, #rdfAuthorContainer .inline-container, 
.rdfAuthorInline    .container, .rdfAuthorInline    .inline-container {
    float: left;
/*    border: 1px dotted green;*/
}

#rdfAuthorContainer .widget, 
.rdfAuthorInline    .widget {
    min-height: 42px;
/*    border: 1px solid green;*/
}

#rdfAuthorContainer .actions, .rdfAuthorInline .actions {float: right;}
#rdfAuthorContainer .container > *, .rdfAuthorInline .container > * {display: block;}

#rdfAuthorContainer legend {
    margin: 0 0.3em;
    padding: 0 0.2em;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    font-size: 100%;
}

.rdfAuthorInline legend {
    display: none;
}

#rdfAuthorContainer .add-button, #rdfAuthorContainer .delete-button, 
.rdfAuthorInline    .add-button, .rdfAuthorInline    .delete-button {
    width: 16px;
    height: 16px;
/*    margin: 1px 0;*/
}

#rdfAuthorContainer .add-button, .rdfAuthorInline .add-button {
    background-image: url('./../img/badge-add.png');
}

#rdfAuthorContainer .add-button:hover, .rdfAuthorInline .add-button:hover {
    background-position: -16px;
}

#rdfAuthorContainer .delete-button, .rdfAuthorInline .delete-button {
    background-image: url('./../img/badge-delete.png');
}

#rdfAuthorContainer .delete-button:hover, .rdfAuthorInline .delete-button:hover {
    background-position: -16px;
}

#rdfAuthorContainer .container > *, .rdfAuthorInline .container > * {display: block;}

.disclosure-button-horizontal {
    height: 2em !important;
    width: 10px !important;
    
    background-image: url('./../img/disclosure-indicator-horizontal.png') !important;
    background-repeat: no-repeat;
    background-position: -20px center !important;
    
    /* mimic minibutton style */
    border-style: solid;
    border-width: 1px;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: #ccc;
    border-top-color: #ccc;
}

.disclosure-button-horizontal:hover {
    background-position: -30px center !important;
}

.disclosure-button-horizontal.open {
    background-position: 0px center !important;
}

.disclosure-button-horizontal.open:hover {
    background-position: -10px center !important;
}

.disclosure-button-vertical {
    width: 2em !important;
    height: 10px !important;
    
    background-image: url('./../img/disclosure-indicator-vertical.png') !important;
    background-repeat: no-repeat;
    background-position: center -20px !important;
    
    /* mimic minibutton style */
    border-style: solid;
    border-width: 1px;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: #ccc;
    border-top-color: #ccc;
}

.disclosure-button-vertical:hover {
    background-position: center -30px !important;
}

.disclosure-button-vertical.open {
    background-position: center 0px !important;
}

.disclosure-button-vertical.open:hover {
    background-position: center -10px !important;
}
