.portlet {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* .portlet:after { */
  /* content: attr(data-content); */
  /* position: absolute; */
  /* top: -1px; */
  /* left: -1px; */
  /* padding: 3px 7px; */
  /* font-size: 12px; */
  /* font-weight: bold; */
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ddd; */
  /* color: #9da0a4; */
  /* -webkit-border-radius: 4px 0 4px 0; */
     /* -moz-border-radius: 4px 0 4px 0; */
          /* border-radius: 4px 0 4px 0; */
/* } */

.portlet-entry {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* .portlet-entry:after { */
  /* content: attr(data-content); */
  /* position: absolute; */
  /* top: -1px; */
  /* left: -1px; */
  /* padding: 3px 7px; */
  /* font-size: 12px; */
  /* font-weight: bold; */
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ddd; */
  /* color: #9da0a4; */
  /* -webkit-border-radius: 4px 0 4px 0; */
     /* -moz-border-radius: 4px 0 4px 0; */
          /* border-radius: 4px 0 4px 0; */
/* } */

.portlet-property-title {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.portlet { margin: 0 1em 1em 0; }
.portlet-minimized { height: auto !important; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.portlet-minimized .portlet-content { display: none !important; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.ui-resizable-s {
  bottom: 0;
}
.ui-resizable-e {
  right: 0;
}

.portlet-navbar {
  z-index: auto !important;
}



#rdfauthor-view .property-minimized {
  /* height:auto !important; */
}

/* #rdfauthor-view { */
  /* width: 700px; */
  /* [> height: 700px; <] */
/* } */

#rdfauthor-view .settings {
  visibility: visible;
  opacity:0;
  filter:alpha(opacity=0);
}

#rdfauthor-view .visible {
  visibility: visible;
}

.dropdown-menu {
  min-width: 0px !important;
}

.input-fullsize {
  width: 100%;
}

.input-size-135 {
  width: 135% !important;
}

.input-custom {
  /* height: 10px !important; */
  margin-left: 6px;
  margin-right: 6px;
}

.checkbox-submenu {
  margin-right: 6px;
  margin-left: 6px;
}

.visibility-hidden {
  visibility: hidden;
}

.dropdown-set {
  color: #ffffff;
  text-decoration: none;
  background-color: #646D7E !important;
  background-image: -moz-linear-gradient(top, #646D7E, #6D7B8D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#646D7E), to(#6D7B8D));
  background-image: -webkit-linear-gradient(top, #646D7E, #6D7B8D);
  background-image: -o-linear-gradient(top, #646D7E, #6D7B8D);
  background-image: linear-gradient(to bottom, #646D7E, #6D7B8D);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646D7E', endColorstr='#6D7B8D', GradientType=0);
}

.icon-modal-header {
  float: right;
  padding-right: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.icon-modal-header:hover,
.icon-modal-header:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.modal-header .icon-modal-header {
  margin-top: 5px;
}

.brand-input {
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  float: left;
  margin-top: 10px;
}

.hide-important {
  display: none !important;
}

#rdfauthor-view .property-settings {
  margin-top: -30px;
  visibility: visible;
  opacity:0;
  filter:alpha(opacity=0);
}

#rdfauthor-view .disabled {
  color: #DEDEDE;
}

/* .navbar .nav > li { */
/* z-index: 10000; */
/* } */

/** fix for demo */
/*.modal-backdrop  {
	z-index: 99999 !important;
}

#rdfauthor-view {
	z-index: 999999 !important;
}*/
