/* 
    Document   : patternmanager
    Created on : 07.10.2010, 21:25:25
    Author     : haschek
    Description:
        Purpose of the stylesheet follows.
*/

/* toggle subpatterns */

.eSubpattern legend .icon-toggle-on { display:none; }
.subpattern-hidden legend .icon-toggle-on { display: inline-block; }
.subpattern-hidden legend .icon-toggle-off { display: none; }
.subpattern-hidden legend .icon-delete { display: none; }
.subpattern-hidden legend .icon-copy { display: none; }

.subpattern-hidden div.subfieldsetbody { display:none; }

/* subpattern body */

.subfieldsetbody
{
    margin:0 1.6em;
}

fieldset.eSubpattern
{
    border:solid 1px #999;
    background-color:#f6f6f6;
}

fieldset.subpattern-hidden
{
    border-style:solid none none none;
    background-color: transparent;
}

/* Autosuggestion */

.ac_results .ac_over
{
    color:#07c;
    background-color: #eff9ff;
}

/* Infolabels für Execution */

fieldset.ePatternExecution p.messagebox
{
    margin-top:0.5em;
    margin-right: 32.5%;
}

fieldset.ePatternExecution label
{
    font-weight: bold;
}

fieldset.ePatternExecution label.vartype
{
    font-weight: normal;
    color:#999;
    width:auto;
    float:left;
    text-align: left;
    margin-left: -1.5%; padding-left:0;
}

/* Pattern Abstract/Desc für Execution */

p.abstract
{
    color:#666;
    font-size:1.5em;
}

/* after save options */
div#pm-save_proceed {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}