@charset "UTF-8";
/**
 * Stylesheet for global LOD2 layout
 *
 * @author Michael Haschke, http://eye48.com/
 */

@media screen, projection
{

  /* -- Content ----------------------------------------------------------------
  
  1. Page
  2. Header
  3. Navigation
    3.1. Top
    3.2. Main
    3.3. Search
    3.4. Breadcrumb
  4. Content columns
  5. Footer
  
  --------------------------------------------------------------------------- */
  
  
  /* -- 1. Page ------------------------------------------------------------- */
  
  body
  {
    overflow-y: scroll; /* Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera */
    padding:0 1em 0 1em;
    background-color:#d9dadb;
    color:#000;
    font-size:0.875em;
    font-family:'Droid Sans', Arial, sans-serif; font-weight:normal; font-style:normal;
    line-height:1.5;
  }

  .page_margins
  {
    position:relative;
    margin: 0 auto; /* center page */
    width: auto;  min-width: 740px; max-width: 80em;
    background-color: #fff;
    color:#000;
    
    -moz-box-shadow:0.25em -0.25em 0.25em gray;
    -webkit-box-shadow:0.25em -0.25em 0.25em gray;
  }
  
  .page
  {
    padding:10px 0 0 10px;
  }

  /* -- 2. Header ----------------------------------------------------------- */

  #header
  {
    margin-bottom:1em;
  }
  
  #logo,
  #logo a
  {
    display:block;
    margin:0; padding:0;
    background:url(./../img/logo-lod2.png) no-repeat top left #fff;
    width:552px;
    height:117px;
  }
  
  #logo a
  {
    width:190px;
  }
  
  #logo span,
  #logo strong
  {
    position:absolute;
    left:-5000em;
  }
  
  /* -- 3. Navigation ------------------------------------------------------- */
  
  /* -- 3.1. Top navigation -- */
  
  #header #topnav
  {
    top:0;
    right:100px;
    font-size:0.9em;
    margin-left:560px;
  }
  
  #topnav ul
  {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  #topnav ul li
  {
    display:inline-block;
    padding:0;
    margin:0 1.5em 0.5em 0;
  }
  
  #topnav a
  {
    color:#000;
    text-decoration:none;
  }
  
  #topnav a:focus, #topnav a:hover
  {
    text-decoration:underline;
  }

  /* -- 3.2. Main navigation -- */
  
  #nav
  {
    
    border-style:dotted none;
    border-width:2px;
    border-color:#b5b6b7;
    padding:0.25em 0;
    margin-left:46px;
    z-index:666;
  }

  #nav ul
  {
    position:absolute;
    left:-5000em;
    width:20em;
    margin:0; padding:0; padding-top:0.45em;
    z-index:666;
    list-style:none;
    font-size:0.8333em;
  }
  
  #nav ul li
  {
    color:#fff;
    background-color:#006aa8; /* #0066cc; */
    background-color:rgba(0,106,168,0.9);
  }

  #nav ul.depth_0,
  #nav ul.menu
  {
    position:static;
    width:auto;
    padding-top:0;
    font-size:1em;
  }
  
  #nav ul.depth_1
  {
    /*opacity:0.9;*/
    -webkit-box-shadow:0em 0.25em 0.25em #666;
    -moz-box-shadow:0em 0.25em 0.25em #666;
  }
    
  #nav ul.depth_0 li a:focus + ul.depth_1,
  #nav ul.depth_0 li a:hover + ul.depth_1,
  #nav ul.depth_0 li:focus > ul.depth_1,
  #nav ul.depth_0 li:hover > ul.depth_1
  {
    left:0;
  }
  
  #nav ul li
  {
    margin:0; padding:0;
  }
  
  #nav ul.depth_0 > li,
  #nav ul.menu > li
  {
    position:relative;
    float:left;
    border-left:dotted 2px #b5b6b7;
    background-color:transparent;
  }
  
  #nav ul.depth_0 > li a,
  #nav ul.depth_0 > li strong,
  #nav ul.menu > li a,
  #nav ul.menu > li strong
  {
    display:block;
    margin:0;
    padding:0 1em;
    font-size:1.2em;
    color:#000;
    text-decoration:none;
  }
  
  #nav ul.depth_1 > li a,
  #nav ul.depth_1 > li strong
  {
    padding:0.6em 1.2em !important;
    border-top:dotted 1px #fff;
    color:#fff;
  }
  
  #nav ul.depth_1 > li:first-child a
  {
    border-top-style:none;
  }
  
  #nav ul.depth_0 > li a:focus,
  #nav ul.depth_0 > li a:hover,
  #nav ul.depth_1 > li a:focus,
  #nav ul.depth_1 > li a:hover,
  #nav ul.menu > li a:focus,
  #nav ul.menu > li a:hover
  {
    color:#fff;
    background-color:#004471; /* #02628f; */
    text-decoration: underline;
  }
  
  #nav ul.depth_0 > li:first-child,
  #nav ul.depth_0 > li:first-child > a,
  #nav ul.depth_0 > li:first-child > strong,
  #nav ul.menu > li:first-child,
  #nav ul.menu > li:first-child > a,
  #nav ul.menu > li:first-child > strong
  {
    border-left:none;
    padding-left:0;
  }

  /* -- 3.3. Search input -- */
  
  /* -- 3.4. Breadcrumb navigation -- */
  
  #breadcrumb
  {
    font-size:0.9em;
    margin:0 0 0 46px; padding:0.28em 0;
    border-bottom:dotted 2px #b5b6b7;
    color:#b5b6b7;
  }
  
  #breadcrumb a,
  #breadcrumb strong
  {
    color:#b5b6b7;
    text-decoration:none;
    font-weight:normal;
  }
  
  #breadcrum a:focus,
  #breadcrumb a:hover
  {
    color:#000;
    text-decoration:underline;
  }
  
  /* -- 4. Content columns -------------------------------------------------- */
  
  #main
  {
    margin: 0 0 0 46px;
    z-index:1;
  }

  #col1 { float: left; width: 66%; /* margin-top:1.5em; */ }
  #col2 { display:none}
  #col3 { width: auto; margin: 0 0 0 66%}
  
  
  #col1_content { padding: 0 2em 0 0; }
  #col3_content { padding: 0 0 0 2em; }

  /* -- 5. Footer ----------------------------------------------------------- */
  
  #footer
  {
    margin:3.5em 0 0 46px;
    background-color:#e1f0f7;
    border-top:dotted 2px #b5b6b7;
    padding:1em 0.5em 0.5em 0.5em;
  }
  
  #sfp-logo
  {
    display:block;
    position:absolute;
    width:71px;
    height:56px;
    top:15px;
    right:20px;
    background:url(./../img/logo-7fp.png) no-repeat top left #fff;
    outline:none;
  }

  #eu-logo {
    display: block;
    position: absolute;
    width: 71px;
    height: 47px;
    top: 86px;
    right: 20px;
    background: url(./../img/logo-eu.png) no-repeat top left #fff;
    outline: none;
  }
  
  #sfp-logo:after
  {
    content:'' !important;
  }
  
}
