.qiufeng .login_border {
	width: 250px;
	border: 3px solid #666666;
	position: relative;
	z-index: 1;
	top: -10px;
	height: 180px;
	background-image: url(../pic/login_1.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.qiufeng .login_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	position: relative;
	top: 0px;
	z-index: 10;
	width: 45px;
	left: 8px;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
}
.qiufeng .login_line_first {
	padding-top: 4px;
	padding-bottom: 4px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	position: relative;
	top: 10px;
	left: 0px;
	padding-left: 8px;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
}
.qiufeng .login_line {
	padding-top: 4px;
	padding-bottom: 4px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	position: relative;
	top: 10px;
	left: 0px;
	padding-left: 8px;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: normal;
}
.qiufeng .login_username {
	width: 100px;
	position: relative;
	left: 20px;
	height: 20px;
}

.qiufeng .login_password {
	width: 100px;
	position: relative;
	left: 24px;
	height: 20px;
}
