.qiufeng .regist_table{
	float: left;
	width: 400px;
	position: relative;
	right: 0px;
	border: medium none #999999;
	height: auto;
	left: 40px;
	background-image: url(../pic/logo.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.qiufeng .regist_title{
	color: #333333;
	font-size: 17px;
	line-height: 20px;
	font-weight: 200;
	position: relative;
	top: 0px;
	left: 10px;
	width: 105px;
	padding-left: 2px;
	margin-right: 2px;
	margin-left: 2px;
	z-index: 5;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.qiufeng .register_border {
	clear: both;
	height: 200px;
	width: 395px;
	border: 3px solid #666666;
	z-index: 1;
	top: -10px;
	position: relative;
	background-attachment: fixed;
	background-image: none;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.qiufeng .regist_content {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	list-style-type: none;
	top: 15px;
	height: auto;
	left: 5px;
	position: relative;
	width: 390px;
}

.qiufeng .regist_line{
	width:auto;
	margin-bottom: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: none;
}

.qiufeng .regist_box{
	width: 100px;
	left: 26px;
	position: relative;
	top: 2px;
	border: 1px inset #666666;
	height: 16px;
}

.qiufeng .regist_password{
	width: 100px;
	left: 30px;
	position: relative;
	top: 2px;
	border: 1px inset #666666;
	height: 16px;
}
.qiufeng .regist_password_again{
	width: 100px;
	left: 49px;
	position: relative;
	top: 2px;
	border: 1px inset #666666;
	height: 16x;
}
.qiufeng .regist_email{
	width: 180px;
	left: 10px;
	position: relative;
	top: 2px;
	border: 1px inset #666666;
	height: 16px;
}
