.bordered-bottom {
	
	border-bottom: solid 1px;
	border-color: #666666;
	padding: 0.4em;
}

hr.seperator {

	border: 0;
	background-color: #aaa;
	height: 1px;
}

.medium {
	
	font-size: medium;
}

.xx-large {

	font-size: x-large;
}

.x-small {

	font-size: x-small;
}

.indent {

	padding-left: 1.2em;
}

ul.backgrounded li {

	background-color: #eee;
}

ul.backgrounded li.odd {
	
	background-color: #f6f6f6;
}

ul.spaced-vertical li {

	border-top: solid 2px #fff;
}